<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Marvel Comics" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col font-mono bg-zinc-800 text-slate-300">
    <header class="p-4 mb-14 bg-[#ee171f]">
      <div class="flex justify-center">
        <%= image_tag 'marvel_logo.png', alt: 'Marvel Logo', class: 'h-16' %>
      </div>
    </header>
  
    <main class="flex-grow mx-48">
      <%= yield %>
    </main>
    
  <footer class="flex justify-center items-center bg-zinc-900 p-4">
    <p class="text-white text-center">
      Data provided by Marvel. &copy; <%= Time.now.year %> MARVEL
    </p>
  </footer>
  </body>
</html>
